.nav {
    display: flex;
    width: 100%;
    height: 60px;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

.title {
    color: white;
}

.btn {
    border: none;
    outline: none;
    padding: 15px;
    margin: 5px;
    width: 200px;
}

.btn:hover{
    font-size: medium;
    background-color: lightgreen;
}

.mapContainer {
    position: absolute;
    top: 70px;
    right: 0;
    left: 0;
    bottom: 0;
}

.holder {
    padding: 40px;
    display: flex;
    margin: 8px;
    flex-direction: column;
}

.in {
    padding: 10px;
}

#pop-head {
    text-align: center;
}

.submit {
    padding: 6px;
    margin: auto;
    border: none;
    outline: none;
}

.err {
    color: red;
}

.info {
    color: green;
}
